<div class="event-thumbnail">
    <h2>{{ _event.name }}</h2>
    <hr>
    <div> Date : {{ _event.date }}</div>
    <div [class]="{green : _event?.time == '8:00 am'}" [ngSwitch]="_event?.time">
        <span> time : {{ _event?.time }}, </span>
        <span *ngSwitchCase="'8:00 am'"> Early start</span>
        <span *ngSwitchCase="'1:00 am'"> Late start</span>
        <span *ngSwitchDefault>Normal start</span>
    </div>
    <div> Price : ${{ _event.price }}</div>
    <div *ngIf="_event?.url"> Online url : {{ _event.url }}</div>
    <div>
        <span>Location : {{ _event.location.address }} </span>
        <span>&nbsp;</span>
        <span>{{ _event.location.city }}, {{ _event.location.country }} </span>
    </div>
    <button (click)='msg()'>subscribe</button>
</div>