<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input [(ngModel)]='listFilter' type='text' />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h4>Filtered by: {{ listFilter }} </h4>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary' (click)="toggleImage()">
                                {{ show_image ?  'hide':'Show'}} Images
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!products.length">
                        <td colspan="6"><p>No product exist</p></td>
                    </tr>
                    <tr *ngFor='let product of products' class="product">
                        <td>
                            <img *ngIf="show_image" [src]="product.imageUrl" alt="">
                        </td>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.productCode | lowercase | convertToSpace:'-' }}</td>
                        <td>{{ product.releaseDate }}</td>
                        <td>{{ product.price | currency:'USD':'symbol':'1.2-2'}}</td>
                        <td>{{ product.starRating }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>